<a href="https://colab.research.google.com/github/DanRHowarth/Artificial-Intelligence-Cloud-and-Edge-Implementations/blob/master/Oxford_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Tutorial

* This notebook covers example code for pandas. It includes the following topics:
    * Code related to loading data and accessing parts of the data:
      * Series
      * Dataframes
      * Accessing attributes of Dataframes
      * Accessing and Filtering Values
    * Code related to preprocessing the data:
      * Dealing with missing values
      * Dropping columns 
      * Dealing with categorical data 
    * Code related to Exploratory Data Analysis: 
      * Summary statistics
      * Groupby
    * Code related to feature engineering:
      * Creating new columns 
      * Use apply to create new features 


#### Exercises
 * Each section will have an exercise to help reinforce your learning. We suggest you:
   * Write out each line of code by hand (rather than copy and paste it from the relevant example) - this will improve your understanding of code syntax
   * Write out, above each line of code, an explanation as to what the code, using a comment `#` - this will improve your understanding of how the code works

## 1. CODE RELATED TO LOADING DATA AND ACCESSING DATA

### 1.1 SERIES
* A Series is a one-dimensional array-like object containing a sequence of values (of similar types to NumPy types) and an associated array of data labels, called its index. It can be thought of as an ordered dict, with labels matched to values in the order they are passed.

In [0]:
# we start with our import statements - these are convention for pandas and numpy libraries
import numpy as np
import pandas as pd

In [0]:
# creating a series by passing a list of values, and a custom index label. 
# Note that the labelled index reference for each row and it can have duplicate values
a = pd.Series([1,2,3,np.nan,5,6], index=['A','B','C','D','E','F'])

print ("Pandas Series from values list and index list:")
print(a)

In [0]:
# The Series constructor can convert a dictonary as well, using the keys of the dictionary as its index
sample_dict = {'A':1,'B':2,'C':3,'D':np.nan,'E':5,'F':6}
sample_dict

b = pd.Series(sample_dict)
print ("Pandas series from a dictionary")
print(b)

In [0]:
# we can create a series by passing in other functions
series1 = pd.Series(np.arange(-10,10,2))

# here the series is created with assigned index in numerical order
series1

In [0]:
# we can pass in a list like this, and define the datatype 
series_list = pd.Series(list('1234'))#,dtype=int)
series_list

In [0]:
# and change the dtype like this 
series_list = series_list.astype(str)

# we can just call the values of a series (note no the index values are not displayed)
series_list.values

In [0]:
# we can create a series using timeseries information
time_eg = pd.Series(index=pd.date_range('20180601',periods=8,freq='M'))
time_eg

In [0]:
# we can pass in our own index values as the Series is created
series3 = pd.Series(np.arange(0,5),index=['One','Two','Three','Four','Five'])
series3

In [0]:
# or we can do it later
# create a new series 
series2 = pd.Series(['Five','Four','Three','Two','One'])
series2

In [0]:
# add the index
series2.index=['One','Two','Three','Four','Five']
series2

In [0]:
# we can name our Series
series1.name = 'series1'
series1

In [0]:
# we can set the name of the index too
series1.index.name = 'digits'
series1

In [0]:
# index characteristics (if index is a range)
series1.index

In [0]:
# and if its an object 
series2.index

In [0]:
# and values
series1.values

In [0]:
# we can add further properties or methods to the properties
series1.index.dtype

In [0]:
# values or indexes can be converted to a list, e.g.
list_eg = series2.index.tolist()
list_eg

In [0]:
# check dtype
series1.dtype

In [0]:
# we can access value of series like this (see Dataframes section below for more detail)
# brings up the value at index position 
series2[1]

In [0]:
# as does this
series2.iloc[3]

In [0]:
# brings up the value at index name 
series2['Four']

In [0]:
# as does this
series2.loc['One']

In [0]:
# and we can replace values inplace
series2['Four']= 2
series2

#### EXERCISE 1.1: CREATING A SERIES
* Create a Series using one of the methods above 
* Edit some of its attributes, again using some of the methods above

In [0]:
## EXERCISE CODE HERE

### 1.2 DATAFRAMES
* A DataFrame represents a rectangular table of data and contains an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc.). 
* The DataFrame has both a row and column index; it can be thought of as a dict of Series all sharing the same index.

In [0]:
## create our own dataframe
data = {'Gender': ['F', 'M', 'M'],
        'Emp_ID': ['E01', 'E02', 'E03'],
        'Age': [25, 27, 29]}

# We want the order the columns, so lets specify in columns parameter
df = pd.DataFrame(data, columns=['Emp_ID','Gender', 'Age'])
df

In [0]:
# select a column of the dataframe
df['Age']

In [0]:
# this is actually a series and we can apply the functionality learned above to it
type(df['Age'])

In [0]:
# note that this is a view and not a copy of the data 
age = df['Age']

# replace a value in the series 
age[0] = 23
age

In [0]:
# and it changes the original value
df

In [0]:
# a common way to load dataframes is by the read_[file format] methods
# this loads a csv file of a kaggle competition dataset
kaggle = pd.read_csv('https://raw.githubusercontent.com/DanRHowarth/DSfIOT_MeetUps/master/train.csv')

In [0]:
# we can check the dataframe has loaded and look at a subsection of it
kaggle.head()

In [0]:
# another method is to load a dataframe and point the parameters of the load
# method to data and column values. 

# here we are loading in data from the scikit learn library
from sklearn.datasets import load_breast_cancer
data = load_breast_cancer()

# load dataframe
df_eg = pd.DataFrame(data.data, columns = data.feature_names)

#### EXERCISE 1.2
* Return the head of the `df_eg `dataframe
* Look at its bottom rows using .tail()

In [0]:
# EXERCISE CODE GOES HERE

### 1.3 ACCESSING ATTRIBUTES OF DATAFRAMES
* We can access a lot of information once our data has been loaded as a dataframe
* Most of the common attributes are covered below


---

**A NOTE ON INDEXES**
* pandas’s Index objects are responsible for holding the axis labels and other metadata
* pandas will assign an index if not explicitly called
* there is a lot of functionality for indexes (not covered here) that can be explored in the documentation

In [0]:
# line numpy, pandas has a shape method 
print ('The number of features in the data set is: '),kaggle.shape[1]
print ('The number of datapoints in the data set is: '),kaggle.shape[0]

In [0]:
# we can get the datatypes of the columns, which can be helpful to know for preprocessing purposes 
# here we select a subset of the 81 columns 
kaggle.dtypes[0:10]

In [0]:
# we can get a view of the column names
print("Column Names:" , df_eg.columns)

In [0]:
# GET INDEX DETAIL
# here our index is just the row numbers so it returns what our value range is 
print("DataFrame Index: ", kaggle.index)

In [0]:
# we can access a specific column's values (and also see below for more on this)
kaggle['MSZoning'].values

In [0]:
# returns the unique values
kaggle['MSZoning'].unique()

In [0]:
# sort our dataframe by certain col values
kaggle.sort_values(by=['SaleCondition','YrSold'])[0:10] # this doesn't reorder the columns

###  1.4 ACCESSING AND FILTERING VALUES

In [0]:
# selection/view by column name
df_eg['mean smoothness'][0:10]

In [0]:
# selection by row numbers
kaggle[0:3]

#### .loc and .iloc
* You can use either the `.loc` (index labels) or `.iloc` (index integer) to select certain rows. We explore their uses below.
* If in doubt, use `.iloc` as it is less ambiguous

In [0]:
# selection by label index
kaggle.loc[0:2]

In [0]:
# Selection by poisition
kaggle.iloc[0:2]

* Here, both methods work similarily. If our index had a numerical value that we had passed in tahhat did not match its index position (for example '2' was the fifth index value), then our code might encounter some problems. In this case, it is better to use `.iloc` and refer to the index position.
* Below has some further examples of usage

In [0]:
# selection by index of specific lable names - we can't use iloc here
print(kaggle.loc[0:3,['YrSold','ScreenPorch']])

In [0]:
# Selection by row and column between given rows as range
kaggle.iloc[0:2,0:2]

In [0]:
# selection by row and column position between given specific row numbers
kaggle.iloc[[1,2,4],[0,2]]

In [0]:
# Select element at index 1, 1
print(kaggle.iloc[1,1])

In [0]:
#  select column by position
print(kaggle.iloc[:, 2])

In [0]:
# Filter dataframe based on a value condition on one column
kaggle[kaggle['LotArea'] > 30000]

In [0]:
# filter based on multiple conditions on multiple columns using AND operator
kaggle[(kaggle['LotArea']>20000) & (kaggle['YrSold']>2008)] # AND operator

#### EXERCISE 1.4: ACCESSING AND FILTERING VALUES
* Using one of the dataframes we have loaded in, practice filtering the data by:
  * .loc
  * .iloc
  * value condition

In [0]:
## EXERCISE CODE HERE

## 2. CODE RELATED TO PREPROCESSING THE DATA
* Dealing with missing values
* Dropping columns 
* Dealing with categorical data 
* Changing the datatype of columns

### 2.1 DEALING WITH MISSING VALUES

In [0]:
# understand what values are missing - here we sum the null values for each column 
# isnull returns a boolean, which we sum
kaggle.isnull().sum()

In [0]:
# percentage of entries per column type 
print('Percentage of Null Values per column/feature:')
np.around((kaggle.isnull().sum() / len(kaggle)*100), decimals=1)

In [0]:
# we can drop all the rows that NaNs appear on
len(kaggle['Fence'].dropna())

#### EXERCISE 2.1: DEALING WITH MISSING DATA
* There are a range of ways to deal with missing values, including `.fillna()`, fills a NaN witha specified value.
* This specified value an be a data value or a method that fills in the data from surrounding data.
* Look at the `.fillna()` documentation and select a method to use
* Select a column from above, and apply the method to that column

In [0]:
## EXERCISE CODE HERE

### 2.2 DROPPING COLUMNS

In [0]:
# you will want to drop your target column from a data set to train a machine learning algorithm
# here we firs drop the column
X = kaggle.drop(['SalePrice'],axis=1)

In [0]:
# and set it as our target variable
# we use X and y as typical names when passing in data to be trained
y = kaggle['SalePrice']

In [0]:
print(X.shape)
print(y.shape)

### 2.3 DEALING WITH CATEGORICAL DATA
* `pandas` has functionality to convert values within a dataframe to 0s and 1s
* This is required to convert categorical today to something that can be fed into a machine learning algorithm 
* `sci-kit learn` has other ways of doing this, which will be covered in the sci-kit learn notebook

In [0]:
# let identify a column that has categorical data
qualitative = [f for f in kaggle.columns if kaggle.dtypes[f] == 'object']
qualitative

In [0]:
# selecting one of the columns, we can see it has four values
kaggle['Fence'].unique()

### 2.4 CHANGING THE DATATYPE OF COLUMNS

In [0]:
# here, we use get_dummies to conver these to either a 0 or 1
dummies = pd.get_dummies(kaggle['Fence'], prefix='dummy')
dummies[0:20]

In [0]:
# and we can join the data back to the original dataframe, or a subset of it
df_with_dummy = kaggle[['Fence']].join(dummies)
df_with_dummy[0:20]

## 3. CODE RELATED TO EXPLORATORY DATA ANALYSIS
* Summary Statistics  
* Groupby

### 3.1 SUMMARY STATISTICS

In [0]:
# describe gives us a range of summary statistics for each of the numerical columns
df_eg.describe()

In [0]:
# covariance: It returns the co-variance between suitable columns
df_eg.cov()

In [0]:
# correlation: It returns the correlation between suitable columns.
df_eg.corr()

In [0]:
# we can convert this to a heatmap (more on this in the Data Visualisation notebook)
# use the seaborn visualisation library 
import matplotlib.pyplot as plt
import seaborn as sns

#get the correlation
corr = df_eg.corr()

# return the heatmap
plt.figure(figsize=(10,10))
sns.heatmap(corr, 
            xticklabels=corr.columns.values,
            yticklabels=corr.columns.values)

### 3.2 GROUPBY 

  * `pandas` provides a flexible `groupby` interface, enabling you to slice, dice, and summarize datasets in a natural way. This is often an important part of data analysis and is explained in some detail below.


  
  * `split-apply-combine` is used for describing group operations. It breaks down as:
    * Split a pandas object into pieces using one or more keys (in the form of functions, arrays, or DataFrame column names)
    * Calculate group summary statistics, like count, mean, or standard deviation, or a user-defined function
    * Apply within-group transformations or other manipulations, like normalization, linear regression, rank, or subset selection
  
* In the first stage of the process, data contained in a pandas object, whether a Series, DataFrame, or otherwise, is split into groups based on one or more keys that you provide. The splitting is performed on a particular axis of an object. For example, a DataFrame can be grouped on its rows (axis=0) or its columns (axis=1). 
* Once this is done, a function is applied to each group, producing a new value. Finally, the results of all those function applications are combined into a result object. *Go back and look at this again to ensure you understand it, after the examples. We will reinforce this process in the examples below.*


  * We can perform quite complex group operations by utilizing any function that accepts a `pandas` object or `NumPy` array.

**(Data) - Split**
* We first need a key to split the data on. This determines how we will shape the data. (We also need the data, it might not be the dataframe, but a subset of it or a series). A key can be any of the following:
    * A list or array of values that is the same length as the axis being grouped 
    * A value indicating a column name in a DataFrame
    * A dict or Series giving a correspondence between the values on the axis being grouped and the group names
    * A function to be invoked on the axis index or the individual labels in the index

*Example 3.2.1: (Data) - Split - Apply - Combine Step by Step*

In [0]:
# let's get our data and split it by a key step by step
group = kaggle['SalePrice']

# we can see this just returns a pandas series
type(group)

In [0]:
# now we apply the split, using our key - this will order the data 
grouped = group.groupby(kaggle['OverallQual'])

# running this now returns the groupby object - we don't actually get a result until we apply a function and combine it 
grouped

  **'Gotchas'**
  * Pay close attention to the syntax we use in `Groupby` as it can seem fiddly at first and lead to frustration. 
    * We use a pair of braces `[]` to contain our arguments, for both selecting the data and the key. 
    * Note that in setting the `Groupby` function by specifying our key, we specify the dataframe where the key comes from, even if this is the same dataframe the data is drawn from. 
     * This is because we can actually use values not associated with the original data as a key to group our data by. Therefore the Groupby object makes no assumption about where the key comes from and we have to explicitly tell it. 



---


  **Exercise**

  * Go back to the cell where we get our data and split the cell. Add an additional pair of braces to the first line of code like this...:
    * `group = kaggle[['SalePrice']]`
  * ...and run the cell again, noting what type of pandas object is returned.

**Combine**
* Now we combine the data with some sort of aggregating function, which will be applied and returned to complete the groupby operation

In [0]:
# Lets apply
grouped.mean()

In [0]:
# lets check we know what pandas type group is
type(grouped)

**Lesson 2:** 
* Chaining the code so that we can return `Groupby` in one line of code
* Returning dataframe objects from Groupby operations

*Example 3.2.2: (Data) - Split - Apply - Combine in one step*

In [0]:
# we can return the same groupby object as above in one line of code
group_ex2 = kaggle['SalePrice'].groupby(kaggle['OverallQual']).mean()
group_ex2

*Example 3.2.3: Returning a Dataframe object*

In [0]:
# instead of returning a series object, we can return a Dataframe object
group_ex3 = kaggle[['SalePrice','LotArea']].groupby(kaggle['OverallQual']).mean()
type(group_ex3)

In [0]:
# which can be returned like this 
group_ex3

#### EXERCISE 3.2
* There are a number of different methods to apply and combine the data (we only covered `.mean()` above). These include:
 * `count()`	
 * `mean(), median()`
 * `min(), max()`	
 * ` std(), var()`	
 *  `prod()`	
 * `sum()`	
* Using one of the dataframes we have loaded, practice using groupby() operations, using some these aggregation methods

In [0]:
## EXERCISE CODE HERE

## 4. CODE RELATED TO FEATURE ENGINEEERING
* Creating new columns
* Use `apply()` to create new features

### 4.1 CREATING NEW COLUMNS

In [0]:
# we can create a new column by naming it and providing a value
# here we are creating a column that just has values from 0 to the length of the index
kaggle['new_column'] = (pd.DataFrame(np.arange(len(kaggle))))

# we can view the new column, in this instance alongside the SalePrice column 
kaggle[['SalePrice','new_column']][0:20]

In [0]:
# we can obviously do more interesting things. Here we want to see whether the LotArea is over or under the average
# lets take the total of all the lot areas
lot_sum = kaggle['LotArea'].sum()

# and get the average
lot_average = lot_sum/len(kaggle)

# we can then create a new column by dividing each LotArea entry by the average and multiplying by 100 to get the percentage
kaggle['Lot_Area_Comparison'] = np.around((kaggle['LotArea']/lot_average*100), decimals=2)
kaggle[['LotArea','Lot_Area_Comparison']]

### 4.2 USE APPLY() TO CREATE NEW FEATURES

In [0]:
# apply() can be used to apply a function to a column (axis = 0) or along a row (axis = 1)
kaggle[['LotArea']].apply(np.cumsum, axis = 0)[0:20]

In [0]:
# we can use a predefined pandas or numpy method, or write our here
# here we use a lambda, but we could write our own function and pass it in 
# and if we remove the second [] and the axis argument, we can use apply to return a Series
type(kaggle['LotArea'].apply(lambda x: x/2))

In [0]:
# note that apply creates copy, and we need to assign the results to a variable or a new column to preserve them
kaggle['SalePrice£'] = kaggle[['SalePrice']].apply(lambda x: x*0.79, axis = 0)
kaggle['SalePrice£'][0:20]

#### EXERCISE 4.2: USE APPLY() TO CREATE NEW FEATURES
* Code a simple function that takes in a value and performs a simple operation on the value
* Use the `apply()` function to apply that function to a dataframe column

In [0]:
## EXERCISE CODE HERE

## 5. REVIEW
* We have covered:


* There are a number of additional topics that you may wish to follow-up on:
  * Removing duplicate values
  * Joining and merging dataframes
  * More adavnced groupby() and data aggregation techniques 
  * The use of applymap() to apply functions to the whole dataframe
* There are plenty of excellent resources available. We would recommend:
  * [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/) (free)
  * [Python for Data Analysis](https://www.amazon.co.uk/Python-Data-Analysis-Wrangling-IPython-ebook/dp/B075X4LT6K/ref=sr_1_1?s=digital-text&ie=UTF8&qid=1540755909&sr=1-1&keywords=python+for+data+analysis )
  * [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/), which links to tutorials